body {
    display: flex;
    justify-content: center;
    align-items: center; /* added align-items:center */
    min-height: 100vh;
    margin: 0;
    padding: 10vh 10vw; /* added little padding */
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;/* don't wanna use google fonts. sry. */
    font-weight: bold;
    color:hsl(0, 0%, 40%);
    background-color: hsl(185, 75%, 39%);
    background-image:url(images/bg-pattern-top.svg), url(images/bg-pattern-bottom.svg);
    background-size: 100vh, 100vh;
    background-position: -110vw -50vh, 40vw 55vh;
    background-repeat: no-repeat;
}
    /* background medium + large devices */
    @media (min-width: 650px) {
        body {
        background-size: 70vw, 70vw;
        background-position: -20vw -45vh, 48vw 55vh;
        }
    /* end background medium + large devices */ 
    } 

.card {
    width: 100%; /* width 100% + max-width whatever makes better responsiveness */
    max-width: 321px;
    /* deleted height: 370px; not needed*/
     /* deleted margin-top: 25vh */
    background: white;
    border-radius: 20px;
    box-shadow: 20px 20px 150px grey; /* added box-shadow */
}
.card-bg{
    /* deleted width: 100%; not necessary bc block-elem */
    height: 9.5rem; /* changed units from % to rem */
    background-color: hsl(183, 63%, 54%);
    background-image: url(images/bg-pattern-card.svg);
    border-radius: 20px 20px 0 0;
}
.card-main{
    display:flex;
    flex-direction: column;
    justify-content: center;
    
}
.card-main p {
    align-self: center;
}
img {
    margin: -50px 110px 0 110px;
    border: 5px solid white;
    border-radius: 50%;

}
hr {
    height: 0;
    margin: 0;
    border: 0;
    border-top: 2px solid lightgrey;
}
.container-rates {
    display: flex;
    justify-content: center;
    align-content: space-around;
}
.container-rates > div{
    margin:  10px 20px 25px 20px;
}
span , .city {
    font-weight: normal;
    color:hsl(0, 0%, 59%);
}
.city {
    margin: 0 10px 30px 10px;
    font-size: small;
}
.container-rates span {
    font-size: x-small;
}
.attribution {
    position:absolute;
    bottom: 5px;
    padding:2px;
    background-color: rgba(230, 254, 255, 0.3);
    border-radius: 5px;
}
