*{ /* add simple old css-reset */
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    justify-content: center;
    align-items: center; /* added align-items:center */
    min-height: 100vh;
    padding: 10vh 10vw; /* added little padding */
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;/* don't wanna use google fonts. sry. */
    font-weight: bold;
    color:hsl(0, 0%, 40%);
    background-color: hsl(185, 75%, 39%);
    background-image:url(images/bg-pattern-top.svg), url(images/bg-pattern-bottom.svg);
    background-size: 100vh, 100vh;
    background-position: -110vw -50vh, 40vw 55vh;
    background-repeat: no-repeat;
}
    /* background medium + large devices */
    @media (min-width: 650px) {
        body {
        background-size: 70vw, 70vw;
        background-position: -20vw -45vh, 48vw 55vh;
        }
    /* end background medium + large devices */ 
    } 

.card {
    width: 100%; /* width 100% + max-width whatever makes better responsiveness */
    max-width: 321px;
    /* deleted height: 370px; not needed*/
     /* deleted margin-top: 25vh */
    background: white;
    border-radius: 20px;
    padding-bottom: 0.5rem; /* added padding bottom */
    box-shadow: 20px 20px 150px grey; /* added box-shadow */
}
.card-bg{
    /* deleted width: 100%; not necessary bc block-elem */
    height: 9.5rem; /* changed units from % to rem */
    background-color: hsl(183, 63%, 54%);
    background-image: url(images/bg-pattern-card.svg);
    border-radius: 20px 20px 0 0;
}
.card-main{
    display:flex;
    flex-direction: column;
    justify-content: center;
    
}
.card-main p {
    margin-top: 0.5rem; /* add margin-top */
    align-self: center;
}
img {
    display:block;
     margin: -50px auto 0 auto;  /* changed margin left + right from 110px to auto; did not work
     but works with img set to display: block */
    border: 5px solid white;
    border-radius: 50%;

}
hr {
    height: 0;
    margin: 30px 0 0 0; /* from all 0 to top 30 */
    border: 0;
    border-top: 2px solid lightgrey;
}
ul { 
    display: flex;
    justify-content: center;
    list-style-type: none;
}
li {
    padding: 1rem 1.5rem;
    text-align: center;
}
li > span{
    display: block;
}
span , .city {
    font-weight: normal;
    color:hsl(0, 0%, 59%);
}
.city {
    margin: 0 auto 0px auto;/* changed margin all 0 only top smth */
    font-size: small;
}
.container-stats span {/* renamed from c-rates to c-stats */
    font-size: x-small;
}
.attribution {
    position:absolute;
    bottom: 5px;
    padding:2px;
    background-color: rgba(230, 254, 255, 0.3);
    border-radius: 5px;
}
